:root {
  --header-background: #0B3954;
}

.error {
  padding: 20px;
  background-color: palevioletred;
  color: white;
}


.container-box {
  margin: 30px;
}

.react-loading-skeleton {
  margin: 10px 25px;
}


